[submodule "resources/kubesphere"]
	path = resources/kubesphere
	url = https://github.com/kubesphere/kubesphere.git
[submodule "resources/rainbond"]
	path = resources/rainbond
	url = https://github.com/goodrain/rainbond.git
[submodule "resources/monitor-cat"]
	path = resources/monitor-cat
	url = https://github.com/dianping/cat.git
[submodule "resources/kubesphere-console"]
	path = resources/kubesphere-console
	url = https://github.com/kubesphere/console.git
[submodule "resources/telepresence"]
	path = resources/telepresence
	url = https://github.com/telepresenceio/telepresence.git
[submodule "resources/microk8s"]
	path = resources/microk8s
	url = https://github.com/ubuntu/microk8s.git
[submodule "resources/ceph"]
	path = resources/ceph
	url = https://github.com/ceph/ceph.git
