[submodule "resources/kubesphere"]
	path = resources/kubesphere
	url = https://github.com/kubesphere/kubesphere.git
[submodule "resources/rainbond"]
	path = resources/rainbond
	url = https://github.com/goodrain/rainbond.git
[submodule "resources/monitor-cat"]
	path = resources/monitor-cat
	url = https://github.com/dianping/cat.git
[submodule "resources/kubesphere-console"]
	path = resources/kubesphere-console
	url = https://github.com/kubesphere/console.git
[submodule "resources/telepresence"]
	path = resources/telepresence
	url = https://github.com/telepresenceio/telepresence.git
[submodule "resources/microk8s"]
	path = resources/microk8s
	url = https://github.com/ubuntu/microk8s.git
[submodule "resources/ceph"]
	path = resources/ceph
	url = https://github.com/ceph/ceph.git
[submodule "resources/redhat-helm-charts"]
	path = resources/redhat-helm-charts
	url = https://github.com/redhat-developer/redhat-helm-charts.git
[submodule "resources/datahub-helm"]
	path = resources/datahub-helm
	url = https://github.com/acryldata/datahub-helm.git
[submodule "resources/ceph-cookbook"]
	path = resources/ceph-cookbook
	url = https://github.com/ksingh7/ceph-cookbook.git
[submodule "resources/spring-cloud-kubernetes"]
	path = resources/spring-cloud-kubernetes
	url = https://github.com/spring-cloud/spring-cloud-kubernetes.git
[submodule "resources/fabric8-k8s-client"]
	path = resources/fabric8-k8s-client
	url = https://github.com/fabric8io/kubernetes-client.git
[submodule "resources/java-operator-sdk"]
	path = resources/java-operator-sdk
	url = https://github.com/java-operator-sdk/java-operator-sdk.git
[submodule "resources/istio"]
	path = resources/istio
	url = https://github.com/istio/istio.git
[submodule "resources/apisix"]
	path = resources/apisix
	url = https://github.com/apache/apisix.git
[submodule "resources/kong"]
	path = resources/kong
	url = https://github.com/Kong/kong.git
[submodule "resources/rclone"]
	path = resources/rclone
	url = https://github.com/rclone/rclone.git
[submodule "resources/rclone-webui-react"]
	path = resources/rclone-webui-react
	url = https://github.com/rclone/rclone-webui-react.git
[submodule "resources/dhorse"]
	path = resources/dhorse
	url = https://gitee.com/i512team/dhorse.git
[submodule "resources/x-file-storage"]
	path = resources/x-file-storage
	url = https://github.com/dromara/x-file-storage.git
[submodule "resources/docker-registry"]
	path = resources/docker-registry
	url = https://github.com/distribution/distribution.git
[submodule "resources/docker-cli"]
	path = resources/docker-cli
	url = https://github.com/docker/cli.git
[submodule "resources/docker-moby"]
	path = resources/docker-moby
	url = https://github.com/moby/moby.git
[submodule "resources/kustomize"]
	path = resources/kustomize
	url = https://github.com/kubernetes-sigs/kustomize.git
[submodule "resources/bitnami-charts"]
	path = resources/bitnami-charts
	url = https://github.com/bitnami/charts.git
[submodule "resources/rclone-webui-angular"]
	path = resources/rclone-webui-angular
	url = https://github.com/yuudi/rclone-webui-angular.git
[submodule "resources/prometheus-charts"]
	path = resources/prometheus-charts
	url = https://github.com/prometheus-community/helm-charts.git
[submodule "resources/ansible-for-develops"]
	path = resources/ansible-for-develops
	url = https://github.com/geerlingguy/ansible-for-devops.git
[submodule "resources/ansible-example"]
	path = resources/ansible-example
	url = https://github.com/ansible/ansible-examples.git
[submodule "resources/ansible-for-kubernetes"]
	path = resources/ansible-for-kubernetes
	url = https://github.com/geerlingguy/ansible-for-kubernetes.git
[submodule "resources/ansible"]
	path = resources/ansible
	url = https://github.com/ansible/ansible.git
[submodule "resources/bitnami-containers"]
	path = resources/bitnami-containers
	url = https://github.com/bitnami/containers.git
[submodule "resources/zadig"]
	path = resources/zadig
	url = https://github.com/koderover/zadig.git
