[submodule "resources/kubesphere"]
	path = resources/kubesphere
	url = https://github.com/kubesphere/kubesphere.git
[submodule "resources/rainbond"]
	path = resources/rainbond
	url = https://github.com/goodrain/rainbond.git
[submodule "resources/monitor-cat"]
	path = resources/monitor-cat
	url = https://github.com/dianping/cat.git
[submodule "resources/kubesphere-console"]
	path = resources/kubesphere-console
	url = https://github.com/kubesphere/console.git
[submodule "resources/telepresence"]
	path = resources/telepresence
	url = https://github.com/telepresenceio/telepresence.git
[submodule "resources/microk8s"]
	path = resources/microk8s
	url = https://github.com/ubuntu/microk8s.git
[submodule "resources/ceph"]
	path = resources/ceph
	url = https://github.com/ceph/ceph.git
[submodule "resources/redhat-helm-charts"]
	path = resources/redhat-helm-charts
	url = git@github.com:aicanhelp/redhat-helm-charts.git
[submodule "resources/datahub-helm"]
	path = resources/datahub-helm
	url = https://github.com/acryldata/datahub-helm.git
[submodule "resources/ceph-cookbook"]
	path = resources/ceph-cookbook
	url = https://github.com/ksingh7/ceph-cookbook.git
[submodule "resources/spring-cloud-kubernetes"]
	path = resources/spring-cloud-kubernetes
	url = https://github.com/spring-cloud/spring-cloud-kubernetes.git
[submodule "resources/fabric8-k8s-client"]
	path = resources/fabric8-k8s-client
	url = https://github.com/fabric8io/kubernetes-client.git
[submodule "resources/java-operator-sdk"]
	path = resources/java-operator-sdk
	url = https://github.com/java-operator-sdk/java-operator-sdk.git
[submodule "resources/istio"]
	path = resources/istio
	url = https://github.com/istio/istio.git
[submodule "resources/apisix"]
	path = resources/apisix
	url = https://github.com/apache/apisix.git
[submodule "resources/kong"]
	path = resources/kong
	url = https://github.com/Kong/kong.git
[submodule "resources/rclone"]
	path = resources/rclone
	url = https://github.com/rclone/rclone.git
[submodule "resources/rclone-webui-react"]
	path = resources/rclone-webui-react
	url = https://github.com/rclone/rclone-webui-react.git
[submodule "resources/dhorse"]
	path = resources/dhorse
	url = https://gitee.com/i512team/dhorse.git
[submodule "resources/x-file-storage"]
	path = resources/x-file-storage
	url = https://github.com/dromara/x-file-storage.git
